 
.oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
 
 
 body{
    background-color: rgb(43, 158, 152);
 }
img{
   width: 50%;
   display: flex;
   justify-content: center;
    align-items: center;
    margin: auto;
border-radius: 50px;
box-shadow: #000000fa 4px 4px ;



 
p{
   width: 60%;
   font-size: 1,3rem;
   font-weight: 800;
   display: flex;
   margin: auto;
   text-align: justify;
   font-family: "Oswald", sans-serif;
}
h2{
   width: 60%;
   font-size: 1,3rem;
   font-weight: 800;
   display: flex;
   margin: auto;
   font-family: "Oswald", sans-serif;
}
h1{
   margin: auto;
text-align: center;
color: aliceblue;
font-size: 5rem;
font-family: "Oswald", sans-serif;
}
.titulo{
   text-align: center;
}